* {
    color: white;
}

body {
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.social-media-icons a{
    color: white;
    font-size: 2rem;
}

.nav-custom a{
    color: white;
}

.social-media-icons a:hover{
    color: black;
    font-size: 2rem;
}

.carousel-img {
    width: auto;
    height: 600px;
    max-height: 600px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered-title {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.black-text {
    color: black;
}

.carousel-caption-custom {
    bottom: -1.75rem;
    position: absolute;
    right: 15%;
    /* bottom: 1.25rem; */
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font: bolder;
}

.nav-custom a:hover{
    color: black;
}

.custom-opacity {
    opacity: 0.5;
}

.custom-height {
    max-height: 275px;
}


